---
http_interactions:
- request:
    method: get
    uri: https://dnstwister.report/api/ip/6578616d706c652e636f6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"example.com","domain_as_hexadecimal":"6578616d706c652e636f6d","error":false,"fuzz_url":"http://dnstwister.report/api/fuzz/6578616d706c652e636f6d","ip":"93.184.216.34","parked_score_url":"http://dnstwister.report/api/parked/6578616d706c652e636f6d","url":"http://dnstwister.report/api/ip/6578616d706c652e636f6d"}

        '
  recorded_at: Tue, 10 Dec 2019 02:39:26 GMT
recorded_with: VCR 5.0.0
