---
http_interactions:
- request:
    method: get
    uri: https://dnstwister.report/api/whois/6578616d706c652e636f6d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"example.com","domain_as_hexadecimal":"6578616d706c652e636f6d","fuzz_url":"http://dnstwister.report/api/fuzz/6578616d706c652e636f6d","parked_score_url":"http://dnstwister.report/api/parked/6578616d706c652e636f6d","resolve_ip_url":"http://dnstwister.report/api/ip/6578616d706c652e636f6d","url":"http://dnstwister.report/api/whois/6578616d706c652e636f6d","whois_text":"Domain
        Name: EXAMPLE.COM\r\n   Registry Domain ID: 2336799_DOMAIN_COM-VRSN\r\n   Registrar
        WHOIS Server: whois.iana.org\r\n   Registrar URL: http://res-dom.iana.org\r\n   Updated
        Date: 2019-08-14T07:04:41Z\r\n   Creation Date: 1995-08-14T04:00:00Z\r\n   Registry
        Expiry Date: 2020-08-13T04:00:00Z\r\n   Registrar: RESERVED-Internet Assigned
        Numbers Authority\r\n   Registrar IANA ID: 376\r\n   Registrar Abuse Contact
        Email:\r\n   Registrar Abuse Contact Phone:\r\n   Domain Status: clientDeleteProhibited
        https://icann.org/epp#clientDeleteProhibited\r\n   Domain Status: clientTransferProhibited
        https://icann.org/epp#clientTransferProhibited\r\n   Domain Status: clientUpdateProhibited
        https://icann.org/epp#clientUpdateProhibited\r\n   Name Server: A.IANA-SERVERS.NET\r\n   Name
        Server: B.IANA-SERVERS.NET\r\n   DNSSEC: signedDelegation\r\n   DNSSEC DS
        Data: 31589 8 1 3490A6806D47F17A34C29E2CE80E8A999FFBE4BE\r\n   DNSSEC DS Data:
        31589 8 2 CDE0D742D6998AA554A92D890F8184C698CFAC8A26FA59875A990C03E576343C\r\n   DNSSEC
        DS Data: 43547 8 1 B6225AB2CC613E0DCA7962BDC2342EA4F1B56083\r\n   DNSSEC DS
        Data: 43547 8 2 615A64233543F66F44D68933625B17497C89A70E858ED76A2145997EDF96A918\r\n   DNSSEC
        DS Data: 31406 8 1 189968811E6EBA862DD6C209F75623D8D9ED9142\r\n   DNSSEC DS
        Data: 31406 8 2 F78CF3344F72137235098ECBBD08947C2C90[...]
